<!DOCTYPE html>
<html>
  <head>
    <title>Transactional Keywords by Keywordily</title>
    <meta name="description" content="Find money making transactional keyword phrases fast">
    <meta name="keywords" content="Transactional Keywords, keyword tool, keyword planner, keyword">
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <link rel="icon" href="static/img/fav.png" type="image/png" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css"/>

    <!-- BEGIN PRIVY WIDGET CODE -->
    <script type='text/javascript'>
    // var _d_site = _d_site || '6C3D6CDBB45711EB243C00DA';
    // (function(w, d, p, s, s2) {
    //   w[p] = w[p] || function() { (w[p].q = w[p].q || []).push(arguments) };
    //   s = d.createElement('script'); s.async = 1; s.src = '//widget.privy.com/assets/widget.js';
    //   s2 = d.getElementsByTagName('script')[0]; s2.parentNode.insertBefore(s, s2);
    // })(window, document, 'Privy');
    // </script>
    <!-- END PRIVY WIDGET CODE -->
  </head>
  <body>

    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-M3JMTQ"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-M3JMTQ');</script>
    <!-- End Google Tag Manager -->

    <div id="background">

      {% block content %}
        <script src={{ url_for('static', filename='js/typeform.js') }}></script>
      <!-- Templates go here -->
      {% endblock %}
    </div>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
    // var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    // (function(){
    // var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    // s1.async=true;
    // s1.src='https://embed.tawk.to/57757f1e5181c6b15041ff0e/default';
    // s1.charset='UTF-8';
    // s1.setAttribute('crossorigin','*');
    // s0.parentNode.insertBefore(s1,s0);
    // })();
    </script>
    <!--End of Tawk.to Script-->

  </body>
</html>